@using MLT.Rifa2.MVC.ViewModel
@model RaffleViewModel
@{
    ViewData["Title"] = "Ver rifa";
}

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title pt-2">Rifa @Model.RaffleName</h5>
                </div>
                <div class="card-body m-2">
                    <div class="row mb-3">
                        <div class="col-12">
                            <p>@Model.RaffleDescription</p>
                        </div>
                        <hr />
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <p>Fecha inicio: @Model.RaffleBeginDate.ToString("dd/MM/yyyy")</p>

                        </div>
                        <div class="col-6">
                            <p>Fecha termino: @Model.RaffleEndDate.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <p>Total de números: @Model.RaffleNumbersAmount</p>
                        </div>
                        <div class="col-6">
                            <p>Precio de número: @Model.RaffleNumberPrice</p>
                        </div>
                    </div>
                    <p>Premios</p>
                    <div class="row mb-2">
                        @foreach (var reward in Model.Rewards)
                        {
                            <div class="col-1 px-1 my-1">
                                °<p>@reward.RewardName</p>
                            </div>
                        }
                    </div>
                    <p>Numeros</p>
                    <div class="row mb-2">
                        @foreach (var number in Model.Numbers)
                        {
                            <div class="col-1 px-1 my-1">
                                @if (number.IsDeleted)
                                {
                                    <button class="btn btn-danger">@number.NumberPosition</button>
                                }
                                else if (number.IsBuyed)
                                {
                                    <button class="btn btn-success">@number.NumberPosition</button>
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-action="Payment" asp-route-id="@(number.NumberId)">@number.NumberPosition</a>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
