@using MLT.Rifa2.MVC.ViewModel
@model IEnumerable<OrganizationTypeViewModel>

@{
    ViewData["Title"] = "Administrar Tipos de Organización";
    var mensajeEliminado = TempData["mensajeEliminado"];
    var mensajeEditado = TempData["mensajeEditado"];
    var mensajeAgregado = TempData["mensajeAgregado"];
}
<div class="text-center mb-2">
    <h1 class="display-4 mb-0">Administrar Tipos de Organización</h1>
    <a asp-action="Add" class="btn btn-primary mb-4">Agregar tipo de organización</a>
</div>
<div class="container text-center">
    @if (Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th>Tipo</th>
                    <th>Eliminado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.IsDeleted)
                    {
                        <tr class="isDeleted">
                            <th scope="row">@item.OrganizationTypeId</th>
                            <th><p>@item.OrganizationTypeName</p></th>
                            <th><input class="form-check-input" type="checkbox" checked disabled /></th>
                            <th><a asp-action="Edit" asp-route-id="@item.OrganizationTypeId" class="btn btn-primary text-decoration-none"><i class="bi bi-pencil-fill"> Editar</i></a></th>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th scope="row">@item.OrganizationTypeId</th>
                            <th><p>@item.OrganizationTypeName</p></th>
                            <th><input class="form-check-input" type="checkbox" disabled /></th>
                            <th><a asp-action="Edit" asp-route-id="@item.OrganizationTypeId" class="btn btn-primary text-decoration-none"><i class="bi bi-pencil-fill"> Editar</i></a></th>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>No hay tipos de organización para mostrar... <a asp-action="Add">Haga click aqui si desea agregar uno.</a></h1>
    }
</div>

@section Scripts{
    @if (mensajeEliminado != null)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    title: '¡Eliminado!',
                    text: '@mensajeEliminado',
                    icon: 'success'
                });
            });
        </script>
    }
    @if (mensajeEditado != null)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    title: '¡Editado!',
                    text: '@mensajeEditado',
                    icon: 'success'
                });
            });
        </script>
    }
    @if (mensajeAgregado != null)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    title: '¡Agregado!',
                    text: '@mensajeAgregado',
                    icon: 'success'
                });
            });
        </script>
    }
}